<section class="comments-section">
    {{#each this}}
    <article class="comment">
        <h3>{{comment_text}}</h3>
        <p>{{user.username}} on {{format_date created_at}}</p>
    </article>
    {{/each}}
</section>