<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minka</title>
    
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Minka</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/dash">dashboard</a>
                <button id="signOut" class="">logout</button>
                {{else}}
                <a href="/signIn">Sign in</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Welcome!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/public/js/signOut.js"></script>
    {{/if}}
</body>
</html>