<section class="edit-post-section">

  <article>
    <a href="/dashboard"> Back to Dash</a>
  </article>

  <article class="edit-post-article">
    <h2>Edit</h2>
    <form class="edit-post-form">
      <div>
        <input name="post-title" type="text" value="{{post.title}}" />
      </div>
      <div>
        <input name="post-text" type="text" value="{{post.post_text}}" />
      </div>
      <button type="submit">Save post</button>
      <button type="button" class="delete-post-btn">Delete post</button>
    </form>
  </article>

</section>

<script src="/public/js/editNote.js"></script>
<script src="/public/js/deleteNote.js"></script>