<section class="pageTitle">
    <h1>Your Dashboard</h1>
</section>

<div class="blogpostCard">
    <div class="blogpostTitle">
        <h2>Create New Post</h2>
    </div>
    <form class="post-form">
        <div class="form-group">
            <label for="title-new">Title</label><br>
            <input class="form-input" type="text" id="title-new">
        </div>
        <div class="form-group">
            <label for="content-new">Content</label><br>
            <textarea name="content-new" id="content-new"></textarea>
        </div>
        <div class="form-group">
            <button class="createPostBtn" type="submit">Create</button>
        </div>
    </form>
</div>

<script src="/js/blogpost.js"></script>