{{!-- ?incomplete? --}}

<article class="note-card">
    <div class="note-header"> 
        {{note_title}}
    </div>
    <section class="note-body">
        <p>
        {{note_content}}
        </p>
    </section>
</article>